<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.hospitalsystem.mapper.PDAroleMapper">
<!--    插入选中的权限-->
    <insert id="addNewData" parameterType="Map">
        insert into tblPDArole(menuid,roleid) values
        <foreach collection="map.PDAList" item="pda" separator=",">
            (#{pda.menuid},
            #{map.roleid})
        </foreach>
    </insert>
<!--    每次插入前，执行清空-->
    <delete id="delAllbyRoleid" parameterType="Map">
        delete from tblPDArole where roleid=#{roleid}
    </delete>
    <select id="getPdaMenuIdByRoleId" parameterType="Map" resultType="java.lang.Integer">
        select menuid from tblPDArole
        <where>
        <if test="roleid!=null and roleid!=''">
            roleid=#{roleid}
        </if>
        </where>
    </select>
</mapper>
